{

.container1 { /*for tests & contact us*/
  grid-template-columns:auto 1fr;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    }


.container2 {/*for index.html*/
display:grid;
grid-template-columns:auto 1fr 25%;
grid-gap:.5em;
margin:1%;
grid-template-areas:
 "header header header"
  "nav main aside"
  "footer footer footer";
  }
  
.container3 {/*for blog.html*/
  display:grid;
  grid-template-columns:auto 1fr 1.5fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
  "header header header"
  "nav main top"
  "nav main middle"
  "nav main bottom"
  "footer footer footer";
  }
  
.container4 {/*for about.html*/
  display:grid;
  grid-template-columns:auto 1fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
  "header header"
  "nav main"
  "fig2 fig2"
  "footer footer";
  }
  
.nestedgrid{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas:
  "section fig1";
}

.nestedgrid2 {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas:
  "div1 div2";
}

  }
